@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --footer-background: #4f4e4e;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-footer-background: var(--footer-background);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --footer-background: #4f4e4e;

  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
